body,html {
  font-family: 'Microsoft YaHei UI', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.color_gray{
  color: gray;
}
.remark,.explain{
  color: gray;
}
